body  {
	background: #FFFFFF;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #574210;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 76%;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
#wrapper { 
	width: 760px; 
	margin: 0 auto; 
	text-align: left; 
}
#header {
	margin-top: 12px;
	margin-bottom: 12px;
}
#logo {
	height: 127px;
	padding-bottom: 12px;
}
a {
	color: #ee9414;
	text-decoration: none;
	font-weight: bolder;
}
a:hover {
	background-color: #fff8eb;
	border-bottom: 1px solid #ffc676;
	font-weight: bolder;
}
#content {
	margin-top: 0px;
	padding-top: 0px;
}
#leftColumn {
	float: left;
	width: 437px;
}
#rightColumn {
	float: right;
	width: 293px;
}
#footer {
	clear: both;
	margin-top: 1em;
	margin-bottom: 2em;
	text-align: right;
	padding-top: 3px;
	border-top-color: #A7A37E;
	border-top-width: 2px;
	border-top-style: solid;
}
h1 {
	color: #EE9414;
	padding-bottom: 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.9em;
	border-bottom: 2px solid #A7A37E;
}
h2 {
	margin-top: 1.75em;
	margin-bottom: 0.75em;
	padding-bottom: 2px;
	color: #046280;
	font-size: 1.3em;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #666666;
}
p {
	line-height: 1.5;
}
img {border: 0;}

@charset "utf-8";
.cena {
	font-weight: bold;
	color: #EE9414;
}
@charset "utf-8";
/* CSS Document */
body {font: normal 76% "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Trebuchet MS", Verdana, sans-serif;}
.nav ul 
{
	width:	100%;	
}

.nav li
{
	list-style:none;
}
.nav li a
{
	text-decoration:none;
	color: #fff;
	display: block;
	padding: 5px 30px;
	background: #046280;
	border: #FFFFFF solid 1px;
}
.nav li, .nav li a
{
	float: left;
	
}
.nav li:hover
{
	border-bottom: 3px solid #046280;
	
}
